{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div id="homepage">
        <div class="bg-img-homepage">
            <div class="row w-100 h-100 m-auto">
                <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column justify-content-center align-items-center d-md-none bg-color rounded-pill py-2 px-4 mx-2" style="color: white">
                        <h1>Hi, it's Maxime</h1>
                        <div class="h5">Welcome on my website</div>
                    </div>
                </div>
                <div class="col-md-6 d-md-flex d-none">
                    <div class="mt-5 ms-2">
                        <svg width="300" height="300" fill="white">
                            <use xlink:href="#chat"/>
                            <text class="h2" text-anchor="middle" x="150" y="140">Hi, it's Maxime</text>
                            <text class="h5" text-anchor="middle" x="150" y="170">Welcome on my website</text>
                        </svg>
                    </div>

                </div>
            </div>

        </div>
        <div class="container">

            {#
            https://www.freecodecamp.org/news/how-to-create-a-portfolio-website-using-html-css-javascript-and-bootstrap/


            #}

        </div>
    </div>


{% endblock %}
