{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <nav id="scrollspy" class="scrollspy position-fixed d-lg-flex d-none top-50">
        <ul class="nav-menu m-0 p-0">
            <li>
                <a data-scroll="diplomaAndTrainig" href="#diplomaAndTrainig" class="dot">
                    <span> {{  'Diploma and Training' | trans }}</span>
                </a>
            </li>
            <li>
                <a data-scroll="experiencies" href="#experiencies" class="dot">
                    <span>Experiencies</span>
                </a>
            </li>
            <li>
                <a data-scroll="events" href="#events" class="dot">
                    <span>Events</span>
                </a>
            </li>
            <li>
                <a data-scroll="langageFrameworkApi" href="#langageFrameworkApi" class="dot">
                    <span>langageFrameworkApi</span>
                </a>
            </li>
            <li>
                <a data-scroll="hobies" href="#hobies" class="dot">
                    <span>hobies</span>
                </a>
            </li>
            <li>
                <a data-scroll="contact" href="#contact" class="dot">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="my-3">
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <img src="{{ asset('img/pictures/profil.jpeg') }}" width="100%" class="rounded-circle" alt="">
                    </div>
                    <div class="col-9 d-flex flex-column justify-content-center">
                        <h1>Welcome to my e-portfolio</h1>
                        <p class="text-justify">My name is <u>Maxime POUJOL</u>. I am {{ age | default("20") }} years old. Let me tell
                            you how it all began.
                            When I was young, I played video games on consoles such as Playstation 2, my first game
                            console, and then Playstation 3.
                            My father, who likes video games too, bought a gaming laptop.
                            He told me that the laptop is better for playing video games and that it was the future
                            because we can do more things.
                            One day, he made me try his favorite games on his laptop and I remember how much I loved.
                            From that day, I bought my first desktop PC and I started to take an interest in computers,
                            both hardware and development.
                        </p>

                        {# //TODO web dev #}

                        <div class="text-center">
                            <a class="btn btn-1 mx-3 rounded-pill">Download my CV</a>
                            <a class="btn btn-2 mx-3 rounded-pill">Contact me</a>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <section id="diplomaAndTrainig" class="py-5 bg-color">
            <div class="container color-white">
                <div class="text-center py-1">
                    <h2>{{  'Diploma and Training' | trans }}</h2>
                </div>
                <div>
                    <h3 class="h4"><u>High school </u></h3>
                    <div class="container">
                        <p>I studied at the high school called Jean Jaurès in Saint Clément de Rivière near Montpellier,
                            in south of France from septembre 2016 to juin 2019. </p>
                    </div>

                </div>
                <div>
                    <h3 class="h4"><u>DUT Informatique</u></h3>
                    <div class="container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odit ipsam expedita
                            dolorem.<br/> Distinctio, aliquid minima voluptatem saepe.</p>
                    </div>

                </div>
                <div>
                    <h3 class="h4"><u>LP ADIPAE</u></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odit ipsam expedita
                        dolorem.<br/> Distinctio, aliquid minima voluptatem saepe.</p>
                </div>
            </div>
        </section>
        <section id="experiencies" class="py-5">
            <div class="container">
                <div class="text-center py-1">
                    <h2>Experiences</h2>
                </div>
                <div>
                    <h3 class="h4"><u>Développeur d'application</u></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odit ipsam expedita
                        dolorem.<br/> Distinctio, aliquid minima voluptatem saepe.</p>
                </div>
                <div>
                    <h3 class="h4"><u>Développeur d'application</u></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odit ipsam expedita
                        dolorem.<br/> Distinctio, aliquid minima voluptatem saepe.</p>
                </div>
                <div>
                    <h3 class="h4"><u>LP ADIPAE</u></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odit ipsam expedita
                        dolorem.<br/> Distinctio, aliquid minima voluptatem saepe.</p>
                </div>
            </div>
        </section>
        <section id="events" class="py-5">
            <div class="container">
                <div class="content-wrapper text-center">
                    <div class="content">
                        <h2>Events</h2>
                        <p>compelling channels whereas user-centric e-services. Phosfluorescently productivate.</p>
                        <div class="services">
                            <div class="service text-left">
                                <h4>Service No. (1)</h4>
                                <p>Proactively integrate front-end infomediaries before cooperative leadership skills.
                                    Progressively repurpose value-added leadership skills with interactive leadership.
                                    Progressively.</p>
                            </div>
                            <div class="service text-right">
                                <h4>Service No. (2)</h4>
                                <p>Continually extend sustainable e-commerce before reliable metrics. Efficiently
                                    expedite low-risk high-yield catalysts for change via error-free value.</p>
                            </div>
                            <div class="service text-left">
                                <h4>Service No. (3)</h4>
                                <p>Phosfluorescently syndicate progressive content without principle-centered content.
                                    Seamlessly restore leading-edge web services via cooperative technology.
                                    Authoritatively maximize.</p>
                            </div>
                            <div class="service text-right">
                                <h4>Service No. (4)</h4>
                                <p>Conveniently scale market-driven schemas before dynamic action items. Quickly
                                    visualize real-time niche markets vis-a-vis future-proof infomediaries.
                                    Progressively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="langageFrameworkApi" class="py-5">
            <div class="container">
                <div class="content-wrapper text-center">
                    <div class="content">
                        <h2>langageFrameworkApi</h2>
                        <p>Monotonectally procrastinate backend interfaces vis-a-vis bricks-and-clicks action items.</p>
                        <div class="client">
                            <p>Collaboratively procrastinate interactive platforms via world-class customer service.
                                Uniquely optimize ethical partnerships rather than functional niches. Synergistically
                                predominate distributed functionalities with exceptional ROI. Continually.</p>
                            <h4>Ahmed Beheiry</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hobies" class="py-5">
            <div class="container">
                <div class="content-wrapper text-center">
                    <div class="content">
                        <h2>langageFrameworkApi</h2>
                        <p>Monotonectally procrastinate backend interfaces vis-a-vis bricks-and-clicks action items.</p>
                        <div class="client">
                            <p>Collaboratively procrastinate interactive platforms via world-class customer service.
                                Uniquely optimize ethical partnerships rather than functional niches. Synergistically
                                predominate distributed functionalities with exceptional ROI. Continually.</p>
                            <h4>Ahmed Beheiry</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="py-5">
            <div class="container">
                <div class="content-wrapper text-center">
                    <div class="content">
                        <h2>Contact Me</h2>
                        <p>disintermediate multimedia based e-markets whereas interoperable value.</p>
                        <p class="mail">Ahmed_beheiry@yahoo.com</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}


