{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/games.css') }}" >
{% endblock %}

{% block body %}

    <div>

        <div class="bg-img-top">

        </div>


    </div>



{% endblock %}
